<% include header %>
<% if (page.text) { %>
    <p><%= page.text %></p>
<% } %>
<% if (page.parts)
        page.parts.forEach(function (part) { %>
            <% include part %>
<%
        });
%>
<% include footer %>