<% include header %>
<% if (page.text) { %>
    <p><%= page.text %></p>
<% } %>
<% if (page.parts)
        page.parts.forEach(function (part) {
            var type = part.type || 'text'; %>
            <%- render('part-' + type, { part: part, site: site }) %>
<%
        });
%>
<% include footer %>